#audio-bar {
  color: white;
  background-color: #212529;
  padding: 15px 0;

  #player-btns {
    svg {
      cursor: pointer;
    }
  }

  .vertical-range {
    // transform: rotate(270deg);
    // -moz-transform: rotate(270deg); /*do same for other browsers if required*/
  }

  .song-image {
    img {
      max-height: 50px !important;
    }
  }

  p {
    margin-bottom: 0 !important;
  }
}
