#settings-page {

  h4 {
    margin-bottom: 20px;
  }

  input {
    margin-bottom: 10px;
    width: 100%;
  }

  button {
    width: 100%;
  }

  .settings-input-group {
    margin-bottom: 10px;
  }

}
